body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
  color: red;
}
a:hover {
  cursor: pointer;
  color: green;
}

html {
  background-color: black;
  color: white;
}

h1 {
  color: yellow;
}

h3 {
  color: rgb(205, 50, 171);
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}
